        #contenedor {
          width: 50%;
          margin: auto;
        }

        fieldset {
          border-radius: 5px;
          margin-top: 0.5em;
          padding: 1em;
          background-color: rgb(236, 236, 236);
        }

        legend {
          border: 1px solid black;
          background-color: rgb(215, 215, 215);
          border-radius: 5px;
        }