    .container,
    .destino {
      background: lightblue;
      padding: 10px;
      margin: 10px;
      border: 2px solid blue;
    }

    .origen {
      background: lightcoral;
      padding: 10px;
      margin: 10px;
      border: 2px solid red;
    }

    p {
      background: white;
      padding: 5px;
      margin: 5px;
    }